ReadAndWriteFile/.vs/ReadAndWriteFile/FileContentIndex/05146c24-2c62-4ff5-a137-39c743d2e382.vsidx
ReadAndWriteFile/.vs/ReadAndWriteFile/FileContentIndex/19ec6ebf-e99c-4178-9355-464ab8b408dd.vsidx
ReadAndWriteFile/.vs/ReadAndWriteFile/FileContentIndex/813183f7-3cb3-43c8-a3d2-c694b9a152fd.vsidx
ReadAndWriteFile/.vs/ReadAndWriteFile/FileContentIndex/967ae601-92d5-49e6-a98e-d04ed3e51849.vsidx
ReadAndWriteFile/.vs/ReadAndWriteFile/FileContentIndex/cb8bf5fb-e6a8-4446-aeea-fde4582db248.vsidx
ReadAndWriteFile/.vs/ReadAndWriteFile/v17/.suo
ReadAndWriteFile/.vs/ReadAndWriteFile/v17/DocumentLayout.backup.json
ReadAndWriteFile/.vs/ReadAndWriteFile/v17/DocumentLayout.json
ReadAndWriteFile/ReadAndWriteFile/bin/Debug/net8.0/ReadAndWriteFile.deps.json
ReadAndWriteFile/ReadAndWriteFile/bin/Debug/net8.0/ReadAndWriteFile.dll
ReadAndWriteFile/ReadAndWriteFile/bin/Debug/net8.0/ReadAndWriteFile.exe
ReadAndWriteFile/ReadAndWriteFile/bin/Debug/net8.0/ReadAndWriteFile.pdb
ReadAndWriteFile/ReadAndWriteFile/bin/Debug/net8.0/ReadAndWriteFile.runtimeconfig.json
ReadAndWriteFile/ReadAndWriteFile/obj/project.assets.json
ReadAndWriteFile/ReadAndWriteFile/obj/project.nuget.cache
ReadAndWriteFile/ReadAndWriteFile/obj/ReadAndWriteFile.csproj.nuget.dgspec.json
ReadAndWriteFile/ReadAndWriteFile/obj/ReadAndWriteFile.csproj.nuget.g.props
ReadAndWriteFile/ReadAndWriteFile/obj/ReadAndWriteFile.csproj.nuget.g.targets
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/apphost.exe
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ReadAndWriteFile.AssemblyInfo.cs
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ReadAndWriteFile.AssemblyInfoInputs.cache
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ReadAndWriteFile.assets.cache
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ReadAndWriteFile.csproj.BuildWithSkipAnalyzers
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ReadAndWriteFile.csproj.CoreCompileInputs.cache
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ReadAndWriteFile.csproj.FileListAbsolute.txt
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ReadAndWriteFile.dll
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ReadAndWriteFile.GeneratedMSBuildEditorConfig.editorconfig
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ReadAndWriteFile.genruntimeconfig.cache
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ReadAndWriteFile.GlobalUsings.g.cs
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ReadAndWriteFile.pdb
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/ref/ReadAndWriteFile.dll
ReadAndWriteFile/ReadAndWriteFile/obj/Debug/net8.0/refint/ReadAndWriteFile.dll
